<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Game Master</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/app-server-access.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyCT6bUQrk5rHswL3dgykXVpWtHe2NcFxA8"></script>
    <script>
        function keypressEnterAll(event){
            // if pressed ENTER, then send
    		if(event.keyCode == 13) {
				this.blur();
        		sendMessage();
    		}
        }
        
        function clicAll(){
            console.log("coucou");
            sendMessage();
        }
        
        function sendMessage() {
            var data = document.querySelector("#data");
            var message = data.value;
            data.value = "";
            // tell server to execute 'sendchat' and send along one parameter
            socket.emit('sendchat', message);
            data.focus();
        };
        
        
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="width:100%; height:100%; overflow-x: hidden; overflow-y: hidden;">
<div style="width:100%; height:100%; padding: 10px;">
    <div class="row">
        <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px;">
            <button class="btn btn-default" onclick="logout(); return false;">Logout</button>
            <button id="modalButton" type="button" class="btn btn-default" onclick="removeWarning();" data-toggle="modal" data-target="#myModal">Validation demands</button>
        </div>
        <div class="col-sm-6" style="text-align: right">
            <h4 id="headerName" style="font-weight: bold;"></h4>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; height:90%;" id="main">
        <div id="map"  style="display: flex; flex-direction: column; flex: 8; height:100%;" ></div>
        <div id="chat" style="display: flex; flex-direction: column; flex: 4; max-width:400px; overflow:hidden;">
            <div class="panel-group room-all" style="margin:0;">
                <div class="panel panle-default">
                    <div class="panel-heading"  style="background-color: darkgrey;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse-all" style="display:block; width:100%;">Tout le monde
                            <span  style="float:right; margin:-8px 0;" class="show-all hide" onclick="showTeam('all');"><img src="https://maps.gstatic.com/mapfiles/ms2/micons/POI.png"></span></a>
                        </h4>
                    </div>
                    <div id="collapse-all" class="panel-collapse collapse">
                        <div id="conversation" class="panel-body"  style="max-height:200px; overflow-y:auto;  word-warp:break-word;"></div>
                        <div class="panel-footer">
                            <!--<input id="data" style="width:80%;" />
                            <input type="button" id="datasend" value="send" />-->
                            <input id="data" onkeypress="keypressEnterAll(event);" style="width:80%;" />
                            <input type="button" id="datasend" onclick="clicAll();" value="send" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- MODAL -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Demande de Validation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="nav navbar-default nav-pills" id="modal_list">
            </ul>
            
            <div class="tab-content" id="modal_content"> 
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="validStep(true);">Valide</button>
            <button type="button" class="btn btn-danger" onclick="validStep(false);">Invalide</button>
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            
          </div>
        </div>
      </div>
    </div>

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app-server-access.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    
    <script type="text/javascript">

    /**************************************************
     ***********  Declaration de Variable   ***********
     **************************************************/
    
    
    var idGame, latitudeTo, longitudeTo;
    var checkEverySecond;
    var currentStep, currentGame;
    var teamShow = "all";
    var username, chat, conversation, data, datasend, users, rooms;
    username = "Game Master";
    rooms = {};
    //Initialisation de la socket
	var socket;
    
    var markersList = {};
    var teams = [];
    var destination = [];
    var listIcones = [
        "http://maps.google.com/mapfiles/ms/micons/campground.png",
        "http://maps.google.com/mapfiles/ms/micons/bar.png",
        "http://maps.google.com/mapfiles/ms/micons/earthquake.png",
        "http://maps.google.com/mapfiles/ms/micons/fallingrocks.png",
        "http://maps.google.com/mapfiles/ms/micons/marina.png"
    ];
    
    
    
    function logout() {
        var jsonToSend = {
            "cost": 0,
            "description": ""
        }
        getRequest('../logout').then(function(response) {

            document.location.href = '/login';

            console.log("Get Success!", response);
        }, function(error) {
            console.error("Get Failed!", error);
        });
    }

	
    
    // on load of page
	window.addEventListener("load", function(){
		// get handles on various GUI components
        chat = document.querySelector("#chat");
		conversation = document.querySelector("#conversation");
  		data = document.querySelector("#data");
  		datasend = document.querySelector("#datasend");
  		users = document.querySelector("#users");
        
        idGame = getUrlParameter('idGame');

        if ((idGame !== null) && (idGame !== undefined))
            sessionStorage.setItem('idGame', idGame);
        else
            idGame = sessionStorage.getItem('idGame');

        console.log(idGame);
        getRequest('/data/games/' + idGame + '/simple/').then(function(response) {
            console.log("Get Success!", response);
            var jsonReceived = JSON.parse(response);

            var headerName = document.getElementById("headerName");
            headerName.innerHTML = jsonReceived.name;

        }, function(error) {
            console.error("Get Failed!", error);
        });

        initSocket();
  		
	});

    
    
    function initSocket(){
        socket = io.connect();
        socket.emit('subscribe', idGame);

        // on connection to server, ask for user's name with an anonymous callback
        socket.on('connect', onConnect);
        // listener, whenever the server emits 'updatechat', this updates the chat body 
        socket.on('updatechat', onUpdateChat);
        socket.on('message', onMessage);
        socket.on('players', onPlayers);
        socket.on('newPlayer', onNewPlayer);
        socket.on('deleteUser', onDeleteUser);
        socket.on('updatePlayersPosition', onUpdatePlayersPosition);
        // listener, whenever the server emits 'updateusers', this updates the username list
        socket.on('updateusers', onUpdateUsers);
        socket.on('currentStep', onCurrentStep);
        socket.on('validate', onValidate);

    }
    
    
    
    /**************************************************
     ***************  CALLBACK  SOCKET   ***************
     **************************************************/

    function onConnect(){
        //on souscrit à la room master qui permet de gérer les données des joueurs
        socket.emit('subscribe', idGame+'_master');
        socket.emit('addAdmin', username);
	}
     
    function onUpdateChat(username, data) {
        var chatMessage = "<b>" + username + ":</b> " + data + "<br>";
        var conversation = document.querySelector("#conversation");
        conversation.innerHTML += chatMessage; 
        $("#collapse-all").collapse("show"); 
        conversation.scrollTop = conversation.scrollHeight;
    }
    
    function onMessage(username, data) {

        var chatMessage = "<b>" + username + ":</b> " + data.message + "<br>";
        var room = document.querySelector("#"+rooms[data.room].id_room);
        room.innerHTML += chatMessage;
        room.scrollTop = room.scrollHeight;
        $("#collapse-"+data.room).collapse("show");        
    }
    
    function onPlayers(listOfPlayers) {
		for(var name in listOfPlayers) {
            addPlayer(listOfPlayers[name]); 
  		}
	}
    
    function onNewPlayer(player){
        addPlayer(player);
    }
    
    function onDeleteUser(player){
        //suppression du joueur sur la carte
        console.log(teams);
        markersList[player.name].setMap(null);
        markersList[player.name] = null;
        delete markersList[player.name];
        
        //on supprime le joueur de la team
        delete teams[player.team].listPlayers[player.name];
        console.log(teams);
        var nb_teamPlayers =0;
        for(key in teams[player.team].listPlayers) nb_teamPlayers++;
        
        if(nb_teamPlayers == 0)
        {
            teams[player.team] = null;
            delete teams[player.team]
            $("#Room_"+player.team).remove();
            if(destination[player.team] != null)
            {
                destination[player.team].setMap(null);
            }
            delete destination[player.team];
        }
        
    }
    
    function onUpdatePlayersPosition(data){
        if(typeof(markersList[data.name]) !== "undefined")
        {
            var playersMarker = markersList[data.name];
            var latlng = new google.maps.LatLng(data.lat, data.long);
            playersMarker.setPosition(latlng);
        }
    }
    
    function onUpdateUsers(listOfUsers) {
        users.innerHTML = "";
        for(var name in listOfUsers) {
            var userLineOfHTML = '<div>' + name + '</div>';
            users.innerHTML += userLineOfHTML;
        }
    }
    
    function onCurrentStep(teamName, idStep, step, coordinate){
        $("#step_"+teamName).text("Step "+idStep+" : " + step);
        
        //vérification si l'on a des coordonnées pour les afficher sur la map
        if(typeof(coordinate) !== "undefined")
        {
            if(coordinate.latitude != "")
            {
                // Create marker 
                var marker = new google.maps.Marker({
                  map: map,
                  position: new google.maps.LatLng(coordinate.latitude, coordinate.longitude),
                  title: 'Objectif de l\'équipe '+teamName
                });

                // Add circle overlay and bind to marker
                var circle = new google.maps.Circle({
                  map: map,
                  radius: 10,  
                  fillColor: '#AA0000',
                  fillOpacity:0.2,
                  strokeColor: '#AA0000',
                  strokeWeight: 1
                });
                circle.bindTo('center', marker, 'position');
                
                marker.setVisible(false);
                destination[teamName] = circle;
            }
        }
    }
    
    function onValidate(team, message){
        var modal = $("#myModal");
        //la team a déjà un onglet
        if(modal.find("#"+team).length != 0)
        {
            console.log("coucou");
        }
        else{
            console.log("hey");
            var modal = $("#modal_list");
            var active_list = "";
            var active_content = "";
            if(modal.children().length == 0)
            {
                active_list = "active";
                active_content = " in active";
            }
            
            
            var titreOnglet = "<li class=\""+active_list+"\"><a data-team=\""+team+"\" data-toggle=\"tab\" href=\"#"+team+"\">"+team+"</a></li>";
            modal.append(titreOnglet);
            
            var modalContent = $("#modal_content");
            content = "<div id=\""+team+"\" class=\"tab-pane fade"+active_content+"\">"+  
                      "   <div class=\"panel panel-default\" style=\"margin: 10px;\">"+
                      "      <div class=\"panel-body\">"+
                      "          <p>"+message+"</p>"+                              
                      "      </div>"+
                      "  </div> "+   
                      "</div>";
                      
            modalContent.append(content);
        }
        
        if(!modal.is(":visible"))
        {
            $("#modalButton").addClass("btn-danger");
        }

    }
         
    /**************************************************
     *************** FIN CALLBACK SOCKET ***************
     **************************************************/
    
    /**************************************************
     ***************       Classe       ***************
     **************************************************/
    
    //Fonctions necessaires pour gérer les rooms
    
    function RoomBB(roomName) {
        var id_room = roomName;
        var id_data = "data"+roomName;
        var id_datasend = "datasend"+roomName;
        var roomData, roomDatasend;
      
        // ----- API -----
        return {
            id_room:id_room,
            id_data:id_data,
            id_datasend:id_datasend,
            roomData:roomData,
            roomDatasend:roomDatasend
        }
    }
    
    function TeamBB(n, i) {
        var name = n;
        var icon = i;
        var listPlayers = {};
      
        // ----- API -----
        return {
            name:name,
            icon:icon,
            listPlayers:listPlayers
        }
    }
    
    /**************************************************
     ***************        ROOMS       ***************
     **************************************************/
    
    function addRoom(roomName){
        console.log(rooms);
        chat = document.querySelector("#chat");
        socket.emit('subscribe', roomName);
        
        
        rooms[roomName] = new RoomBB(roomName);
        var teamName = roomName.split("_");
        teamName = teamName[1];
        teamName = roomName.substring(6);
        console.log("gameId", idGame);
        socket.emit('getTeamStep', idGame, teamName);
        
        var icone = "http://maps.google.com/mapfiles/ms/icons/red-dot.png";
        if(typeof(teams[teamName]) !== "undefined")
        {
            icone = teams[teamName].icon;
        }
                        
        var chatRoom = "<div class=\"panel-group rooms\" style=\"margin:0;\" id=\"Room_"+teamName+"\">"+
                       "<div class=\"panel panle-default\">"+
                       "    <div class=\"panel-heading\" style=\"background-color: darkgrey;\">"+
                       "        <h4 class=\"panel-title\">"+
                       "            <a data-toggle=\"collapse\" href=\"#collapse-"+roomName+"\" style=\"display:inline-block; width:100%;\">Equipe : "+teamName+" "+
                       "            <span  style=\"float:right; margin:-8px 0;\" onclick=\"showTeam('"+teamName+"');\"><img src=\""+icone+"\"></span></a>"+
                       "        </h4>"+
                       "    </div>"+
                       "    <div id=\"collapse-"+roomName+"\" class=\"panel-collapse collapse card-block\">"+
                       "        <div id=\"step_"+teamName+"\">Step 0 : initialisation</div>"+
                       "        <div class=\"divider\"></div>"+
                       "        <div id=\""+rooms[roomName].id_room+"\" class=\"panel-body\" style=\"max-height:200px; overflow-y:auto; word-warp:break-word;\"></div>"+
                       "        <div class=\"panel-footer\">"+
                       "<input id=\""+rooms[roomName].id_data+"\" onkeypress=\"keypressEnter(event);\" style=\"width:80%;\" />"+
                       //"            <input id=\""+rooms[roomName].id_data+"\" style=\"width:80%;\" />"+
                       "<input type=\"button\" id=\""+rooms[roomName].id_datasend+"\" onclick=\"clic(event);\" value=\"send\" />"+
                       //"            <input type=\"button\" id=\""+rooms[roomName].id_datasend+"\" value=\"send\" />"+
                       "        </div>"+
                       "    </div>"+
                       "</div>"+
                       "</div>";                
        chat.innerHTML += chatRoom;
        /*
        rooms[roomName].roomData = document.querySelector("#"+rooms[roomName].id_data+"");
        rooms[roomName].roomDatasend = document.querySelector("#"+rooms[roomName].id_datasend+"");
        
        //Listener for send button
		rooms[roomName].roomDatasend.addEventListener("click", function(evt) {
      		sendMessageToRoom(roomName);
  		});

		// detect if enter key pressed in the input field
  		rooms[roomName].roomData.addEventListener("keypress", function(evt) {
    		// if pressed ENTER, then send
    		if(evt.keyCode == 13) {
				this.blur();
        		sendMessageToRoom(roomName);
    		}
  		});   */     
        if(teamShow != "all")
        {
            showTeam(teamShow);
        }
    }
    
    function keypressEnter(event) {
        if(event.keyCode == 13) {
            console.log(event);
            this.blur();
            sendMessageToRoom(event.target.id.substring(4));
        }
    }
    
    function clic(event) {
    console.log(event.target.id);
        sendMessageToRoom(event.target.id.substring(4));
    }
    
     // sends the chat message to the server
    function sendMessageToRoom(roomName) {
    console.log(roomName, rooms);
    
        var dataRoom = document.querySelector("#"+rooms[roomName].id_data+"");
        var message = dataRoom.value;
        dataRoom.value = "";
        // tell server to execute 'sendchat' and send along one parameter
        socket.emit('send', { room: roomName, message: message });
        dataRoom.focus();
    };	
    
    
    
    /**************************************************
     ***************       Players      ***************
     **************************************************/
    
    
    function addPlayer(player) {

        if(typeof(teams[player.team]) == "undefined")
        {
            var taille = 0;
            for (o in teams) ++taille;         
            teams[player.team] = new TeamBB(player.team, listIcones[taille]);
            addRoom(player.roomsList["withMaster"]);         
            
            
        } 
        console.log(teams);
        teams[player.team].listPlayers[player.name] = player.name;
        console.log(teams);
        
        var marker = new google.maps.Marker({
                         position: new google.maps.LatLng(player.lat, player.long),
                         map: map,
                         title:name,
                         icon:teams[player.team].icon

        });
        markersList[player.name] = marker; 
        
        if(teamShow != "all")
        {
            showTeam(teamShow);
        }
                
    }
    
    function showTeam(teamName){
    
        var bounds = new google.maps.LatLngBounds();
        var nb_marker = 0;
        
        teamShow = teamName;
        
        if(teamName == "all")
        {
            for (marker in markersList)
            {
                nb_marker++;
                markersList[marker].setMap(map);
                bounds.extend(markersList[marker].getPosition());
               
            }
            //on affiche toutes les rooms
            $(".rooms").removeClass("hide");
            //on cache le bouton
            $(".show-all").addClass("hide");
            $(".hide-icon").removeClass("hide hide-icon");
            $(".collapse").collapse("hide");
            
            for(team in destination)
            {
                if(destination[team] != null)
                {
                    destination[team].setVisible(true);
                }
            }
            
        }
        else {
            $(".show-all").removeClass("hide");
            $(".rooms").addClass("hide");
            $("#Room_"+teamName).removeClass("hide");
            for (marker in markersList)
            {
                nb_marker++;
                markersList[marker].setMap(null);
                
                for(name in teams[teamName].listPlayers)
                {
                    if(marker == name)
                    {
                        markersList[marker].setMap(map);
                    }
                }
                bounds.extend(markersList[marker].getPosition());
            }
            
            for(team in destination)
            {
                if(destination[team] != null)
                {
                    destination[team].setVisible(false);
                }
            }
            destination[teamName].setVisible(true);
            
        }
        
        
        if(nb_marker != 0)
        {
            map.fitBounds(bounds);
        
            google.maps.event.addListenerOnce(map, 'bounds_changed', function(event){
                map.setZoom(map.getZoom()-1);
                /*
                if(map.getZoom()> 18){
                    map.setZoom(18);
                }*/
            });
        }
    
    }
       
   	
    
    
    
    /** MAPS **/
    
   // Default position
var centerpos = new google.maps.LatLng(48.579400,7.7519);
 
// default options for the google map
var optionsGmaps = {
    center:centerpos,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    zoom: 15
};
 
// Init map object
var map = new google.maps.Map(document.getElementById("map"), optionsGmaps);






function removeWarning(){
    $("#modalButton").removeClass("btn-danger");
}   

function validStep(isValid){
    //on supprime l'onglet actif
    if($("#modal_list").children().length != 0)
    {
        var team = $("#modal_list").find(".active").children().eq(0).data("team");
        $("#modal_list").find(".active").remove();
        $("#modal_content").find(".active").remove();
        
        //on envoie un evenement pour que le serveur soit au courant
        socket.emit('ValidateStep', team, isValid);
    }
    //si il reste un element
    if($("#modal_list").children().length != 0)
    {
        $("#modal_list").children().eq(0).addClass("active");
        $("#modal_content").children().eq(0).addClass("in active");
    }
    else{
        //fermeture de la modal
        $("#myModal").modal("hide");
    }
}

 
if(navigator.geolocation) {
 
    // callback function, called by getCurrentPosition() in case of success
    function drawPosition(position) {
       // Make new object LatLng for Google Maps
       var latlng = new google.maps.LatLng(position.coords.latitude,               
                                           position.coords.longitude);
 
       map.panTo(latlng);
       
    }
 
    // callback function, called by getCurrentPosition() in case of error
    function errorPosition(error) {
       
    }
    navigator.geolocation.getCurrentPosition(drawPosition,errorPosition);
} else {
    alert("Geolocation API not supported by your browser");
}
    </script>
</body>
</html>
