<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Player - Login</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="jumbotron"  style="margin-top: 10px;">
            <h3>Login Player </h3>
            <form onsubmit="formOnSubmit(event)"  id="loginForm" method="post">
                <div class="form-group">
                  <input type="text" placeholder="User" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>            
            </form>
        </div>
        <p><a href="../settings/new-account.html?ac=2">Create a new account</a></p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app-server-access.js"></script>
    
    <script type="text/javascript">
        function formOnSubmit(event)
        {
            event.preventDefault();
            var $inputs = $('#loginForm :input');

            // not sure if you wanted this, but I thought I'd add it.
            // get an associative array of just the values.
            var jsonToSend = {};
            $inputs.each(function() {
                jsonToSend[this.name] = $(this).val();
            });
            postRequest('login', jsonToSend).then(function(response) {
                //var jsonReceived = JSON.parse(response);
                document.location.href = '/player/select-game.html';
                //htmlAppendGame(jsonReceived._id, jsonReceived.name, jsonReceived.status, (jsonReceived.steps ? jsonReceived.steps.length : 0));
            }, function(error) {
                console.error("Post Failed!", error);
            });
        }
    </script>
</body>
</html>