<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Play</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  onload="onLoad()">

<ul class="nav navbar-default nav-pills tab-menu">
    <li class="active"><a data-toggle="tab" href="#tabHome">Home</a></li>
    <li><a data-toggle="tab" href="#tabPlay">Play</a></li>
    <li><a id="menuChat" onclick="removeWarning();" data-toggle="tab" href="#tabChat">Chat</a></li>
    <li><a data-toggle="tab" href="#tabMore" class="hide">More...</a></li>
    <li class="pull-right"><a class="btn" onclick="logout(); return false;">Logout</a></li>
</ul>

<div class="tab-content">

    <div id="tabHome" class="tab-pane fade in active">
        <div class="container">
            <h3 id="textHome1"></h3>
            <br />
            <p id="textHome2"></p>
            <h4 id="textHome2B" style="color:DarkBlue; font-style: italic; margin-left: 20px"></h4>
            <p id="textHome3"></p>
            <h4 id="textHome3B" style="color:DarkBlue; font-style: italic; margin-left: 20px"></h4>
            <p>Connected users</p>
            <h4 id="users" style="color:DarkBlue; font-style: italic; margin-left: 20px"></h4>
        </div>
        <nav class="navbar-fixed-bottom">
            <div style="margin: 10px; text-align: center;">
                <button onclick="selectPlayTab();" class="btn btn-success btn-lg">Play now!</button>
            </div>
        </nav>
    </div>

    <div id="tabPlay" class="tab-pane fade">
        <div class="container" >
        <div id="alertGoodAnwser" class="alert alert-success collapse">
            <strong>&Eacute;tape r&eacute;ussi ! </strong>
        </div>
        <div id="alertBadAnwser" class="alert alert-danger collapse">
            <strong>Mauvaise r&eacute;ponse ! </strong>
        </div>
            <h3 id="headerStep"></h3>
            <p id="description"></p>

            <div id="textQuestion">
                Answer:<br />
                <textarea id="valueTextQuestion" rows="4" style="margin-top: 20px; width: 100%"></textarea>
            </div>

            <div id="pictureQuestion">
                Take a pictures:
                <input id="valuePictureQuestion" type="file" accept="image/*" capture="camera" style="margin-top: 20px;" onchange="valuePictureQuestionSelected();" />
                <img src="" id="valuePictureQuestionImage" style="width: 250px; margin-top: 10px;"/>
            </div>

            <ul class="list-group" id="qcmQuestion">
                <li class="list-group-item"><input type="radio" name="qcmAnswer" value="answer1" ><span id="labelAnswer1" style="margin-left: 10px;"></span></li>
                <li class="list-group-item"><input type="radio" name="qcmAnswer" value="answer2" ><span id="labelAnswer2" style="margin-left: 10px;"></span></li>
                <li class="list-group-item"><input type="radio" name="qcmAnswer" value="answer3" ><span id="labelAnswer3" style="margin-left: 10px;"></span></li>
                <li class="list-group-item"><input type="radio" name="qcmAnswer" value="answer4" ><span id="labelAnswer4" style="margin-left: 10px;"></span></li>
            </ul>

            <div id="pnlClues" style="margin-top: 10px;">

            </div>

            <div style="text-align: center; margin-top: 10px;">
                <button id="btnHelpMe" type="button" class="btn btn-warning" onclick="useClue();">Help me!</button>
                <button id="btnPlaySubmit" type="button" class="btn btn-primary" onclick="validation();">Submit</button>
            </div>

        </div>

        <nav class="navbar-fixed-bottom">
            <div id="messageWarning" hidden class="container" style="background-color: red; color: white; padding: 10px; font-weight: bold; text-align: center;">
                Warning! You are out of the area
            </div>
            <div id="messageGood" hidden class="container" style="background-color: green; color: white; padding: 10px; font-weight: bold; text-align: center;">
                Good! You are very near
            </div>
        </nav>
    </div>

    <div id="tabChat" class="tab-pane fade">
        <ul class="nav nav-tabs tab-chat" style="margin-top: 10px">
            <li class="active"><a data-toggle="tab" href="#tabChatTeam">Team</a></li>
            <li><a data-toggle="tab" href="#tabChatTeamAndGM">Team & Game master</a></li>
            <li><a data-toggle="tab" href="#tabChatEverybody">Everybody</a></li>
        </ul>

        <div class="tab-content">

            <div id="tabChatTeam" class="tab-pane fade in active">
                <div class="container">
                    <div id="room1" style="height: 60vh; overflow-y: scroll;"></div>
                    <nav class="navbar-fixed-bottom">
                        <input id="dataRoom1" style="width: 80%; vertical-align: middle;" />
                        <input type="button" class="btn btn-default" id="datasendroom1" value="send" />
                    </nav>
                </div>
            </div>

            <div id="tabChatTeamAndGM" class="tab-pane fade">
                <div class="container">
                    <div id="room2" style="height: 60vh; overflow-y: scroll;"></div>
                    <nav class="navbar-fixed-bottom">
                        <input id="dataRoom2" style="width: 80%; vertical-align: middle;" />
                        <input type="button" class="btn btn-default" id="datasendroom2" value="send" />
                    </nav>
                </div>
            </div>

            <div id="tabChatEverybody" class="tab-pane fade">
                <div class="container">
                    <div id="conversation" style="height: 60vh; overflow-y: scroll;"></div>
                    <nav class="navbar-fixed-bottom">
                        <input id="data" style="width: 80%; vertical-align: middle;" />
                        <input type="button" class="btn btn-default" id="datasend" value="send" />
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <div id="tabMore" class="tab-pane fade">
        <div class="panel panel-default" style="margin: 10px;">
            <div class="panel-body">
                <form onsubmit="setDestination(); return false;" style="margin: 10px">
                    <div class="form-group">
                        <label for="latTo">Latitude</label><input id="latTo" type="text" placeholder="Destination latitude" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="longTo">Longitute</label><input id="longTo" type="text" placeholder="Destination logitude" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-default">Set destination</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
<script src="../js/app-server-access.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyCT6bUQrk5rHswL3dgykXVpWtHe2NcFxA8"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
    var username;
    var team;

    var idGame;
    var currentStep;
    var conversation, room1, room2, data, dataRoom1, dataRoom2, datasend, datasendroom1, datasendroom2, users, roomName1, roomName2;
    var socket;

    function onLoad() {


        idGame = getUrlParameter('idgame');

        if ((idGame !== null) && (idGame !== undefined))
            sessionStorage.setItem('idGame', idGame);
        else
            idGame = sessionStorage.getItem('idGame');

        if ((idGame !== null) && (idGame !== undefined)) {

            // Change hash for page-reload
            $('.tab-menu a').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash;

                if (e.target.href.endsWith("#tabChat"))
                    dataRoom1.focus();
            });

            retrieveCurrentStep();

            // Javascript to enable link to tab
            var url = document.location.toString();
            if (url.match('#')) {
                $('.tab-menu a[href="#' + url.split('#')[1] + '"]').tab('show');
            }

            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(positionChanged, positionChangedError);
            }

            // get handles on various GUI components
            conversation = document.querySelector("#conversation");
            room1 = document.querySelector("#room1");
            room2 = document.querySelector("#room2");
            data = document.querySelector("#data");
            dataRoom1 = document.querySelector("#dataRoom1");
            dataRoom2 = document.querySelector("#dataRoom2");
            datasend = document.querySelector("#datasend");
            datasendroom1 = document.querySelector("#datasendroom1");
            datasendroom2 = document.querySelector("#datasendroom2");
            users = document.querySelector("#users");

            $('.tab-chat a').on('shown.bs.tab', function (e) {
                if (e.target.href.endsWith("#tabChatTeam"))
                    dataRoom1.focus();
                else if (e.target.href.endsWith("#tabChatTeamAndGM"))
                    dataRoom2.focus();
                else if (e.target.href.endsWith("#tabChatEverybody"))
                    datasend.focus();
            });

            // Listener for send button
            datasend.addEventListener("click", function (evt) {
                sendMessage("all");
            });

            // detect if enter key pressed in the input field
            data.addEventListener("keypress", function (evt) {
                // if pressed ENTER, then send
                if (evt.keyCode == 13) {
                    this.blur();
                    sendMessage("all");
                }
            });

            // Listener for send button
            datasendroom1.addEventListener("click", function (evt) {
                sendMessage("room1");
            });

            // detect if enter key pressed in the input field
            dataRoom1.addEventListener("keypress", function (evt) {
                // if pressed ENTER, then send
                if (evt.keyCode == 13) {
                    this.blur();
                    sendMessage("room1");
                }
            });

            // Listener for send button
            datasendroom2.addEventListener("click", function (evt) {
                sendMessage("room2");
            });

            // detect if enter key pressed in the input field
            dataRoom2.addEventListener("keypress", function (evt) {
                // if pressed ENTER, then send
                if (evt.keyCode == 13) {
                    this.blur();
                    sendMessage("room2");
                }
            });

            getRequest('../data/player/infos-user/' + idGame).then(function (response) {
                console.log("Get Success!", response);
                var jsonReceived = JSON.parse(response);

                var textHome1 = document.getElementById("textHome1");
                var textHome2 = document.getElementById("textHome2");
                var textHome2B = document.getElementById("textHome2B");
                var textHome3 = document.getElementById("textHome3");
                var textHome3B = document.getElementById("textHome3B");

                textHome1.innerHTML = "Welcome to " + jsonReceived.gamename + " " + jsonReceived.username;
                textHome2.innerHTML = "Your team is:"
                textHome2B.innerHTML = jsonReceived.teamname;
                textHome3.innerHTML = "The access key to your team:";
                textHome3B.innerHTML = jsonReceived.team_accesskey;

                username = jsonReceived.username;
                team = jsonReceived.teamname;

                //on se connect sur la socket

                initSocket();


            }, function (error) {
                console.error("Get Failed!", error);
            });
        }else{
            window.location='/player/select-game.html';

        }

    }

    function logout() {
        getRequest('/logout').then(function(response) {

            document.location.href = '/login';

            console.log("Get Success!", response);
        }, function(error) {
            console.error("Get Failed!", error);
        });
    }

    function initSocket(){
        socket = io.connect();

        // on connection to server, ask for user's name with an anonymous callback
        socket.on('connect', connectUser);
        // listener, whenever the server emits 'updatechat', this updates the chat body
        socket.on('updatechat', updateChat);
        //listener, whenever the server emits 'message', this update the correct room body
        socket.on('message', updateRoomChat);
        //listener, the server say which room the client must join
        socket.on('joinRooms', joinRooms);
        // listener, whenever the server emits 'updateusers', this updates the username list
        socket.on('updateusers', updatePlayerList);
        // update the whole list of players, useful when a player
        // connects or disconnects, we must update the whole list
        socket.on('updatePlayers', updateUsernameList);
        //listener for validating the step
        socket.on('resultValidationStep', updateStep);

    }

    /**************************************************
     ***************  CALLBACK  SOCKET   ***************
     **************************************************/

    //Fonction permettant de donner au serveur le nom, l'équipe et la position initiale du joueur. Associé à 'connect'
    function connectUser(){
        // call the server-side function 'adduser' and send one parameter (value of prompt)
        navigator.geolocation.getCurrentPosition(function(pos) {

            var userdata = {"username" : username, "team" :team, "lat":pos.coords.latitude, "long":pos.coords.longitude};
            socket.emit('adduser', userdata);
        });
    };

    //fonction permettant de modifier le texte du chat général du joueur. Associé à 'updatechat'
    function updateChat(username, data) {
        var chatMessage = "<b>" + username + ":</b> " + data + "<br>";
        conversation.innerHTML += chatMessage;
        conversation.scrollTop = conversation.scrollHeight;
        if($("#tabChat :visible").length == 0)
        {
            $("#menuChat").addClass("btn-danger")
        }
    };

    //fonction permettant de modifier le texte d'une room . Associé à 'message'
    function updateRoomChat(username, data) {
        var chatMessage = "<b>" + username + ":</b> " + data.message + "<br>";
        switch(data.room) {
            case roomName1:
                room1.innerHTML += chatMessage;
                room1.scrollTop = room1.scrollHeight;
                break;
            case roomName2:
                room2.innerHTML += chatMessage;
                room2.scrollTop = room2.scrollHeight;
                break;
            default:
                conversation.innerHTML += chatMessage;
                conversation.scrollTop = conversation.scrollHeight;

        }
        
        if($("#tabChat :visible").length == 0)
        {
            $("#menuChat").addClass("btn-danger")
        }

    };

    //fonction permettant de rejoindre les rooms de l'équipe. Associé à 'joinRooms'
    function joinRooms(groupRooms){
        var i = 1;
        for(var room in groupRooms)
        {
            socket.emit('subscribe', groupRooms[room]);
            if(i == 1)
            {
                roomName1 = groupRooms[room];
                i++;
            }
            else{
                roomName2 = groupRooms[room];
            }
        }
    };

    //fonction permettant de mettre à jour la liste des joueurs. Associé à 'updateusers'
    function updatePlayerList(listOfUsers) {
        users.innerHTML = "";
        for(var name in listOfUsers) {
            var userLineOfHTML = '<div>' + name + '</div>';
            users.innerHTML += userLineOfHTML;
        }
    };

    //Associé à 'updatePlayers'
    function updateUsernameList(listOfplayers) {
        console.log(listOfplayers);
        //updatePlayers(listOfplayers);
    }

    //fonction permettant de valider ou invalider la reponse du joueur. Associé à 'resultValidationStep'
    function updateStep(isValid){
        console.log("resultValidationStep", isValid);

        //Arnaud met ton code ici stp :D
        
        if(isValid){
            $("#alertBadAnwser").collapse("hide");
            $("#alertGoodAnwser").collapse("show");
            window.setTimeout(function(){
                $("#alertGoodAnwser").collapse("hide");
            }, 20000);
        }
        else{
            $("#alertGoodAnwser").collapse("hide");
            $("#alertBadAnwser").collapse("show");
            window.setTimeout(function(){
                $("#alertBadAnwser").collapse("hide");
            }, 20000);
        }

        //TODO: Remove! Implement correct protocole

        if ((isValid) && (currentStep !== undefined)) {
            putRequest('../data/player/send-answer', {"stepid": currentStep.stepid, "gameid": idGame}).then(function(response) {
                console.log("send-answer Success!", response);

            }, function(error) {
                console.error("send-answer Failed!", error);
            });

            retrieveCurrentStep();
        }

    }


    /**************************************************
     *************** FIN CALLBACK SOCKET ***************
     **************************************************/


    //permet d'envoyer une demande de validation au GM
    function validation(){
        var url;
        var image = document.getElementById("valuePictureQuestion");
        if(image){
            sendFile('/data/player/addImage/' + idGame, image).then(function(response) {
                url = response;
                console.log("URL : " + url);
                // TODO url contains the image sent, send the url to master and print it using "../uploads/" + url
                console.log("Post Success! ", response);
            }, function(error) {
                console.error("Put Failed!", error);
            });
        }
        else {
            socket.emit("validationStep", team, "Valide moi !! je suis de la team : "+team);
        }



    }

    // sends the chat message to the server
    function sendMessage(room) {
        var message;
        // tell server to execute 'sendchat' and send along one parameter

        switch(room) {
            case "room1":
                message = dataRoom1.value;
                dataRoom1.value = "";
                dataRoom1.focus();
                socket.emit('send', { room: roomName1, message: message });
                break;
            case "room2":
                message = dataRoom2.value;
                dataRoom2.value = "";
                dataRoom2.focus();
                socket.emit('send', { room: roomName2, message: message });
                break;
            default:
                message = data.value;
                data.value = "";
                data.focus();
                socket.emit('sendchat', message);

        }
    }

    function positionChanged(position){
        if (socket !== undefined) {
            var data = {username:username, lat:position.coords.latitude, lng:position.coords.longitude};
            socket.emit('updatePlayerPosition', data);
        }

        checkArea(position);
    }
    function positionChangedError(error)
    {
        console.log(error);
    }


    function retrieveCurrentStep() {
        var headerStep = document.getElementById("headerStep");
        var description = document.getElementById("description");
        var textQuestion = document.getElementById("textQuestion");
        var valueTextQuestion = document.getElementById("valueTextQuestion");
        var pictureQuestion = document.getElementById("pictureQuestion");
        var qcmQuestion = document.getElementById("qcmQuestion");

        headerStep.innerHTML = "";
        description.innerHTML = "";
        textQuestion.hidden = true;
        pictureQuestion.hidden = true;
        qcmQuestion.hidden = true;

        getRequest('../data/player/current-step/' + idGame).then(function(response) {
            console.log("Get Success!", response);
            currentStep = JSON.parse(response);

            if (currentStep !== undefined) {
                if (currentStep.type === undefined) {
                    headerStep.innerHTML = "Congratulation! You have reached the end of the game.";
                    $("#btnPlaySubmit").addClass("hide");
                }
                else if (currentStep.type == "move")
                    initStepMove();
                else
                    initStepAction();

            }
            else {
                //TODO: Error ...
            }

        }, function(error) {
            console.error("Get Failed!", error);
            headerStep.innerHTML = "ERROR: Fail to get step!";
        });

    }

    function endPointReached() {

        if (currentStep !== undefined) {
            putRequest('../data/player/endpoint-reached', {"stepid": currentStep.stepid, "gameid": idGame}).then(function (response) {
                console.log("endPointReached Success!", response);

            }, function (error) {
                console.error("endPointReached Failed!", error);
            });

            retrieveCurrentStep();
        }
    }

    function initStepMove() {
        //TODO: show Move informations...
        var headerStep = document.getElementById("headerStep");
        var description = document.getElementById("description");
        var textQuestion = document.getElementById("textQuestion");
        var valueTextQuestion = document.getElementById("valueTextQuestion");
        var pictureQuestion = document.getElementById("pictureQuestion");
        var valuePictureQuestion = document.getElementById("valuePictureQuestion");
        var qcmQuestion = document.getElementById("qcmQuestion");

        headerStep.innerHTML = "And now... Move!";
        description.innerHTML = currentStep.explanation;

        textQuestion.hidden = true;
        pictureQuestion.hidden = true;
        qcmQuestion.hidden = true;

        valueTextQuestion.innerHTML = '';
        valuePictureQuestion.value = "";
        $("#valuePictureQuestionImage").value = "";
        $('input[name=qcmAnswer]').attr('checked',false);

        //TODO: currentStep.has_picture

    }

    function initStepAction() {
        var headerStep = document.getElementById("headerStep");
        var description = document.getElementById("description");
        var textQuestion = document.getElementById("textQuestion");
        var valueTextQuestion = document.getElementById("valueTextQuestion");
        var pictureQuestion = document.getElementById("pictureQuestion");
        var valuePictureQuestion = document.getElementById("valuePictureQuestion");
        var qcmQuestion = document.getElementById("qcmQuestion");
        var labelAnswer1 = document.getElementById("labelAnswer1");
        var labelAnswer2 = document.getElementById("labelAnswer2");
        var labelAnswer3 = document.getElementById("labelAnswer3");
        var labelAnswer4 = document.getElementById("labelAnswer4");


        headerStep.innerHTML = "And now... Action!";
        description.innerHTML = currentStep.explanation;

        textQuestion.hidden = true;
        pictureQuestion.hidden = true;
        qcmQuestion.hidden = true;

        valueTextQuestion.innerHTML = '';
        valuePictureQuestion.value = "";
        $("#valuePictureQuestionImage").value = "";
        $('input[name=qcmAnswer]').attr('checked',false);

        if (currentStep.explanationType == "question") {
            textQuestion.hidden = false;
        }
        else if (currentStep.explanationType == "picture") {
            pictureQuestion.hidden = false;
        }
        else if (currentStep.explanationType == "qcm") {
            qcmQuestion.hidden = false;
            labelAnswer1.innerHTML = currentStep.qcm.textAnswer1;
            labelAnswer2.innerHTML = currentStep.qcm.textAnswer2;
            labelAnswer3.innerHTML = currentStep.qcm.textAnswer3;
            labelAnswer4.innerHTML = currentStep.qcm.textAnswer4;
        }

        $("#pnlClues").innerHTML = "";
        for (let i = 0; i < currentStep.clues.length; i++)
            $("#pnlClues")[0].innerHTML += '<div><b>Clue #' + (i + 1).toString() + ': ' + currentStep.clues[i].description + '</b></div>';

        if (!currentStep.other_clue_available)
            $("#btnHelpMe").addClass("hide");

        //TODO: total_points
        //TODO: has_picture
    }

    function valuePictureQuestionSelected() {
        var file = document.getElementById("valuePictureQuestion");
        var pictureImage = document.getElementById("valuePictureQuestionImage");
        var reader  = new FileReader();

        reader.addEventListener("load", function () {
            pictureImage.src = reader.result;
        }, false);

        if (file.files[0]) {
            reader.readAsDataURL(file.files[0]);
        }
    }

    function setDestination() {
        if (currentStep !== undefined) {
            currentStep.coordonates = undefined;

            var latTo = parseFloat(document.getElementById("latTo").value);
            var longTo = parseFloat(document.getElementById("longTo").value);

            if ((latTo > 0) && (longTo > 0)) {
                currentStep.coordonates = {
                    "latitude": latTo,
                    "longitude": longTo
                }
            }
        }
    }

    function checkArea(position) {
        if ((currentStep !== undefined) && (currentStep.type === "move") && (currentStep.coordinate !== undefined)
            && (currentStep.coordinate.latitude !== undefined) && (currentStep.coordinate.longitude !== undefined)) {
            var placeFrom = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var placeTo = new google.maps.LatLng(currentStep.coordinate.latitude, currentStep.coordinate.longitude);

            var messageWarning = document.getElementById("messageWarning");
            var messageGood = document.getElementById("messageGood");

            messageWarning.hidden = true;
            messageGood.hidden = true;

            // in meter
            var distance = google.maps.geometry.spherical.computeDistanceBetween(placeFrom, placeTo);

            if (distance < 10) {
                endPointReached();
            }
            else if (distance < 30)
                messageGood.hidden = false;
            else if (distance > 50)
                messageWarning.hidden = false;
        }
    }

    function selectPlayTab() {
        $('.tab-menu a[href="#tabPlay"]').tab('show');
    }
    
    function removeWarning(){
    $("#menuChat").removeClass("btn-danger");
}   


    function useClue() {
        if (currentStep !== undefined) {
            putRequest('../data/player/use-clue', {"stepid": currentStep.stepid, "gameid": idGame}).then(function (response) {
                console.log("useclue Success!", response);
                location.reload();
            }, function (error) {
                console.error("useclue Failed!", error);
            });

            retrieveCurrentStep();
        }
    }
</script>
</body>
</html>