<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Player - Select team</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  onload="onLoad()">
    <div class="container" >
        <h2 id="gameName"></h2>
    </div>
    
    <div class="container" style="margin-bottom:10px">
        <h3>Create a new Team</h3>
    </div>
    
    <div class="container" >
        <form onsubmit="createNewTeam(); return false;" style="margin: 10px">

            <div class="form-group">
              <label for="newTeamName">Name</label><input id="newTeamName" type="text" placeholder="Name of your team" class="form-control">
            </div>     
            <div class="form-group">
              <label for="newTeamAccessKey">Access Key</label><input id="newTeamAccessKey" type="text" placeholder="Access key to your team" class="form-control">
            </div>           
            
            <button type="submit" class="btn btn-success">Create</button><span hidden id="createError" style="margin-left: 10px; color: red; font-weight: bold;"></span>
                                
        </form>
    </div>
    
    <div class="container" style="margin-bottom:10px">
        <h3>Select an existing team</h3>
    </div>
    
    <div id="teamsList">
    </div>                    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app-server-access.js"></script>
            
    <script type="text/javascript">
    
    var idGame;
    
    function onLoad() {
        idGame = getUrlParameter('idgame');

        getRequest('../data/player/teams/' + idGame).then(function(response) {
            console.log("Get Success!", response);
            var jsonReceived = JSON.parse(response);

            var gameName = document.getElementById("gameName");

            if (jsonReceived.name !== undefined)
                gameName.innerHTML = jsonReceived.name;

            if ((jsonReceived.teams !== undefined) && (jsonReceived.teams.length !== undefined)) {
                jsonReceived.teams.forEach((j) => {
                    htmlAppendTeam(j._id, j.name, (j.players ? j.players.length : 0));
                });
            }
        }, function(error) {
            console.error("Get Failed!", error);
        });

    }   
    
    function htmlAppendTeam(idTeam, name, players) {
        var teamsList = document.getElementById("teamsList");
              
        teamsList.innerHTML += ''
                    + '<div class="container">'                    
                    + '    <div class="panel panel-info">'
                    + '        <div class="panel-body">'
                    + '            <div class="row" >'                                    
                    + '                <div class="col-sm-4" >'
                    + '                    <h3  class="panel-title" id="teamname' + idTeam + '">' + name + '</h3>'
                    + '                    <span class="badge">' + players.toString() + ' player' + ((players > 1) ? 's' : '') + '</span>'
                    + '                </div>'        
                    + '                <div class="col-sm-4">'
                    + '                    <div class="row" >'
                    + '                      <div class="col-xs-4"><label for="accessKey' + idTeam + '">Access Key</label></div><div class="col-xs-8"><input id="accessKey' + idTeam + '" type="text" placeholder="Access Key" ></div>'
                    + '                    </div>'
                    + '                </div>'
                    + '                <div class="col-sm-4" style="text-align: right;">'
                    + '                    <span hidden id="createError' + idTeam + '" style="margin-right: 10px; color: red; font-weight: bold;"></span>'
                    + '                    <button class="btn btn-success" onclick="enterTeam(event, \'' + idTeam + '\');" style="margin-left: 0px;">Enter</button>'
                    + '                </div>'                       
                    + '            </div>'                                       
                    + '        </div>'
                    + '    </div>'
                    + '</div>';
    }
    
    function createNewTeam(event) {
        var name = document.getElementById("newTeamName");
        var newTeamAccessKey = document.getElementById("newTeamAccessKey");

        var jsonToSend = {
            "idgame": idGame,
            "teamname": name.value.trim(),
            "accesskey": newTeamAccessKey.value.trim()
        }
        
        var createError = document.getElementById("createError");
        createError.hidden = true;
        
        if ((jsonToSend.teamname.trim() == "") || (jsonToSend.accesskey.trim() == "")) {
            createError.innerHTML = "You have to enter a Name and an Access Key";
            createError.hidden = false;
        }
        else {
            postRequest('../data/player/teams', jsonToSend).then(function(response) {
                var jsonReceived = JSON.parse(response);

                if (jsonReceived.result === undefined) {
                    console.log("Post Success!", response);
                    name.value = "";
                    newTeamAccessKey.value = "";
                    document.location = "./play.html?idgame=" + idGame;
                }
                else {
                    createError.innerHTML = jsonReceived.result;
                    createError.hidden = false;
                }

            }, function(error) {
                console.error("Post Failed!", error);
            });
        } 
        
        
    }
    
    function enterTeam(event, idTeam) {
        var accessKey = document.getElementById("accessKey" + idTeam);
        var teamname = document.getElementById("teamname" + idTeam);
        var createError = document.getElementById("createError" + idTeam);

        var jsonToSend = {
            "idgame": idGame,
            "teamname": teamname.innerHTML,
            "accesskey": accessKey.value.trim()
        }

        createError.hidden = true;

        if (jsonToSend.accesskey.trim() == "") {
            createError.innerHTML = "You have to enter an Access Key";
            createError.hidden = false;
        }
        else {
            postRequest('../data/player/check-team', jsonToSend).then(function(response) {
                var jsonReceived = JSON.parse(response);

                if (jsonReceived.result === undefined) {
                    console.log("Post Success!", response);
                    accessKey.value = "";
                    document.location = "./play.html?idgame=" + idGame;
                }
                else {
                    createError.innerHTML = jsonReceived.result;
                    createError.hidden = false;
                }

            }, function(error) {
                console.error("Post Failed!", error);
            });
        }
    }
    
    </script>
</body>
</html>