<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Player - Select game</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  onload="onLoad()">
    <div class="container" style="margin-top:10px; ">
        <div class="row" >                                    
            <div class="col-xs-8" >
                <h3>Your games in progress</h3>            
            </div>
            <div class="col-xs-4" style="text-align: right;">            
                <a href="../settings/edit-account.html?ac=2"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 2em;" data-toggle="tooltip" title="Edit your game master account"></span></a>
            </div>
        </div>              
    </div>
    
    <div id="gamesInProgress">
    </div>  
    
    <div class="container" style="margin-bottom:10px">
        <h3>Select a game</h3>
    </div>
    
    <div class="container">
        <form onsubmit="fetchOpenedGames(); return false;" style="margin: 10px">

            <div class="form-group">
              <label for="name">Name</label><input id="name" type="text" placeholder="Name" class="form-control">
            </div>                                   
            <div class="form-group">
              <label for="country">Country</label><input id="country" type="text" placeholder="Country" class="form-control">
            </div>
            <div class="form-group">
              <label for="region">Region</label><input id="region" type="text" placeholder="Region" class="form-control">
            </div>
            <div class="form-group">
              <label for="city">City</label><input id="city" type="text" placeholder="City" class="form-control">                  
            </div> 
            <div class="form-group">
              <label for="gameType">Game type</label><input id="gameType" type="text" placeholder="Game type" class="form-control">                  
            </div>        
            
            <button type="submit" class="btn btn-success">Fetch</button><span hidden id="fetchError" style="margin-left: 10px; color: red;"><b>Select at least one criteria</b></span>                                
                                
        </form>
    </div>
    
    <div id="openedGames">
    </div>                    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app-server-access.js"></script>
            
    <script type="text/javascript">
    
    function onLoad() {
                
        getRequest('../data/player/games-in').then(function(response) {
            console.log(response);
            var jsonReceived = JSON.parse(response);
            var gamesInProgress = document.getElementById("gamesInProgress");

            jsonReceived.forEach((j) => {
                htmlAppendGameInProgress(gamesInProgress, j._id, j.name, j.status, (j.steps ? j.steps.length : 0));
            });
                        
        }, function(error) {
            console.error("Get Failed!", error);
        });
    }  

    function fetchOpenedGames() {
        var openedGames = document.getElementById("openedGames");
        openedGames.innerHTML = '';
                
        var jsonToSend = {
            "name": "",
            "localisation" : "",
            "game_type" : ""
        }
        
        var name = document.getElementById("name");
        jsonToSend.name = name.value;
        jsonToSend.localisation = {
            country : document.getElementById("country").value,
            region : document.getElementById("region").value,
            city : document.getElementById("city").value
        };
        var gameType = document.getElementById("gameType");
        jsonToSend.game_type = gameType.value;
        
        var fetchError = document.getElementById("fetchError");
        fetchError.hidden = true;
        
        if ((jsonToSend.name.trim() == "") && (jsonToSend.game_type.trim() == "") && (jsonToSend.localisation.country.trim() == "")
            && (jsonToSend.localisation.region.trim() == "") && (jsonToSend.localisation.city.trim() == "")) {
            fetchError.hidden = false;
        }
        else {        
            postRequest('../data/player/games-not', jsonToSend).then(function(response) {
                console.log("Get Success!", response);
                var jsonReceived = JSON.parse(response);                
                
                jsonReceived.forEach((j) => {
                    htmlAppendOpenedGames(openedGames, j._id, j.name, j.status, (j.steps ? j.steps.length : 0));
                });
                            
            }, function(error) {
                console.error("Get Failed!", error);
            });
        }          
    }
    
    function htmlAppendGameInProgress(gamesList, idGame, name, status, steps) {

        gamesList.innerHTML += ''
                    + '<div class="container">'                    
                    + '    <div class="panel panel-info">'
                    + '        <div class="panel-heading">'
                    + '            <div class="row" >'                                    
                    + '                <div class="col-xs-4" >'
                    + '                    <a href="./select-team.html?idgame=' + idGame + '" style="text-decoration: none; ">'
                    + '                        <h3  class="panel-title">' + name + '</h3>'
                    + '                    </a>'
                    + '                </div>'          
                    + '                <div class="col-xs-4">'
                    + '                    <h3 class="panel-title" style=" font-style: italic;">' + status + '</h3>'
                    + '                </div>'
                    + '                <div class="col-xs-4" style="text-align: right;">'
                    + '                    <button class="btn btn-danger" onclick="exitGame(event, \'' + idGame + '\');" style="margin-left: 0px;">Exit</button>'
                    + '                </div>'                      
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="panel-body">'
                    + '            <div class="row">'
                    + '                <div class="col-xs-8">'
                    + '                    <a href="./select-team.html?idgame=' + idGame + '" style="text-decoration: none; ">'
                    + '                        Game type'
                    + '                    </a>'
                    + '                </div>'
                    + '                <div class="col-xs-4">'
                    + '                    <span class="badge">' + steps.toString() + ' step' + ((steps > 1) ? 's' : '') + '</span>'
                    + '                </div>'
                    + '            </div>'
                    + '        </div>'
                    + '    </div>'
                    + '</div>';               
                
    }
    
    function htmlAppendOpenedGames(gamesList, idGame, name, status, steps) {

        gamesList.innerHTML += ''
                    + '<div class="container">'                    
                    + '    <div class="panel panel-info">'
                    + '        <div class="panel-heading">'
                    + '            <div class="row" >'                                    
                    + '                <div class="col-sm-4" >'
                    + '                    <h3  class="panel-title">' + name + '</h3>'
                    + '                </div>'        
                    + '                <div class="col-sm-4">'
                    + '                    <div class="row" >'
                    + '                      <div class="col-xs-4"><label for="accessKey' + idGame + '">Access Key</label></div><div class="col-xs-8"><input id="accessKey' + idGame + '" type="text" placeholder="Access Key" ></div>'
                    + '                    </div>'
                    + '                </div>'
                    + '                <div class="col-sm-4" style="text-align: right;">'
                    + '                    <button class="btn btn-success" onclick="enterGame(event, \'' + idGame + '\');" style="margin-left: 0px;">Enter</button>'
                    + '                </div>'                       
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="panel-body">'
                    + '            <div class="row">'
                    + '                <div class="col-xs-8">'
                    + '                    Game type'
                    + '                </div>'
                    + '                <div class="col-xs-4">'
                    + '                    <span class="badge">' + steps.toString() + ' step' + ((steps > 1) ? 's' : '') + '</span>'
                    + '                </div>'
                    + '            </div>'
                    + '        </div>'
                    + '    </div>'
                    + '</div>';

        window.scrollBy(0, window.innerHeight);
    }
    
    function exitGame(event, idGame) {
        if (idGame !== undefined) {
            var result = confirm("Exit this game?");
            if (result) {
                deleteRequest('../data/player/exit-game/' + idGame).then(function(response) {
                    console.log("Exit Success!", response);
                    location.reload();
                }, function(error) {
                    console.error("Exit Failed!", error);
                });
            }
        }
    }
    
    function enterGame(event, idGame) {
        var accessKey = document.getElementById("accessKey" + idGame);
        document.location = "./select-team.html?idgame=" + idGame + "&accessKey=" + accessKey.value;
    }
    
    </script>
</body>
</html>