<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Game Settings - Update account</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  onload="onLoad()">
    <div class="container">
        <div class="jumbotron"  style="margin-top: 10px;">
            <h3>Update account</h3>
            <form onsubmit="formOnSubmit(event); return false;" id="loginForm" >
                <div class="form-group">
                  <label for="username">User</label><input required id="username" name="username" type="text" placeholder="User" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label><input required id="password" name="password" type="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                  <label for="firstName">First name</label><input required id="firstName" name="first_name" type="firstName" placeholder="First name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="lastName">Last name</label><input required id="lastName" name="last_name" type="text" placeholder="Last name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Email</label><input required id="email" name="email" type="email" placeholder="Email" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Update account</button>            
                <button class="btn" onclick="gotoPreviousUrl(); return false;">Cancel</button>
                <span id="responseMessage"></span>
            </form>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app-server-access.js"></script>
        
    <script type="text/javascript">
    
    var ac;
    
    function onLoad() {
        getRequest('/data/user/get/').then(function(response) {
            console.log("Get Success!", response);
            var jsonReceived = JSON.parse(response);
            console.log(jsonReceived);

            var username = document.getElementById("username");

            if(jsonReceived.username){
                console.log("username : " + jsonReceived.username);
                username.value = jsonReceived.username;
            }

            var password = document.getElementById("password");
            if(jsonReceived.password)
                password.value = jsonReceived.password;

            var firstName = document.getElementById("firstName");
            if(jsonReceived.first_name)
                firstName.value = jsonReceived.first_name;

            var lastName = document.getElementById("lastName");
            if(jsonReceived.last_name)
                lastName.value = jsonReceived.last_name;

            var email = document.getElementById("email");
            if(jsonReceived.email)
                email.value = jsonReceived.email;

        }, function(error) {
            console.error("Get Failed!", error);
        });
    }
    
    function formOnSubmit(event)
    {
        console.log("update account");
        event.preventDefault();
        var $inputs = $('#loginForm :input');

        // not sure if you wanted this, but I thought I'd add it.
        // get an associative array of just the values.
        var jsonToSend = {};
        $inputs.each(function() {
            if(this.name != "")
                jsonToSend[this.name] = $(this).val();
        });

        postRequest('/data/users/update/', jsonToSend).then(function(response) {
            console.log("Post Success!", response);
            $("#responseMessage").text(response);

            //var jsonReceived = JSON.parse(response);
            //console.log(jsonReceived);
        }, function(error) {
            console.error("Post Failed!", error);
        });
    }

    function gotoPreviousUrl() {
        window.location='../login';
        return false;
    }
    </script>
</body>
</html>