<script src="/socket.io/socket.io.js"></script>
<script src="../js/app-server-access.js"></script>
<body>
<div>
    <button class="btn" onclick="logout(); return false;">Logout</button>
</div>
<div>
<div id="map" style="width:640px;height:480px"></div>
</div>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
	<b>Players</b>
	<div id="users"></div>
</div>
<div id="chat">
    <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;border-right:1px solid black;">
        <div id="conversation"></div>
        <input id="data" style="width:200px;" />
        <input type="button" id="datasend" value="send" />
    </div>
</div>
<div>
<div id="map" style="width:640px;height:480px"></div>
</div>
<script>

    function logout() {
        var jsonToSend = {
            "cost": 0,
            "description": ""
        }
        getRequest('../logout').then(function(response) {

            document.location.href = '/login';

            console.log("Get Success!", response);
        }, function(error) {
            console.error("Get Failed!", error);
        });
    }

	var username, chat, conversation, data, datasend, users, rooms;
    
    // on load of page
	window.addEventListener("load", function(){
		// get handles on various GUI components
        chat = document.querySelector("#chat");
		conversation = document.querySelector("#conversation");
  		data = document.querySelector("#data");
  		datasend = document.querySelector("#datasend");
  		users = document.querySelector("#users");

  		// Listener for send button
		datasend.addEventListener("click", function(evt) {
      		sendMessage();
  		});

		// detect if enter key pressed in the input field
  		data.addEventListener("keypress", function(evt) {
    		// if pressed ENTER, then send
    		if(evt.keyCode == 13) {
				this.blur();
        		sendMessage();
    		}
  		});
        
        // sends the chat message to the server
        function sendMessage() {
            var message = data.value;
            data.value = "";
            // tell server to execute 'sendchat' and send along one parameter
            socket.emit('sendchat', message);
        };

  		
	});
    
    
    //Fonctions necessaires pour gérer les rooms
    rooms = {};
    function RoomBB(roomName) {
      var id_room = roomName;
      var id_data = "data"+roomName;
      var id_datasend = "datasend"+roomName;
      var roomData, roomDatasend;
      
      // ----- API -----
      return {
        id_room:id_room,
        id_data:id_data,
        id_datasend:id_datasend,
        roomData:roomData,
        roomDatasend:roomDatasend
      }
    }
    
    function addRoom(roomName){
        console.log(rooms);
        chat = document.querySelector("#chat");
        socket.emit('subscribe', roomName);
        
        rooms[roomName] = new RoomBB(roomName);
        
        var chatRoom =  "<div style=\"float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;border-right:1px solid black;\">"+
                        "<div id=\""+rooms[roomName].id_room+"\"></div>"+
                        "<input id=\""+rooms[roomName].id_data+"\" style=\"width:200px;\" />"+
                        //"<input id=\""+rooms[roomName].id_room+"\" onkeypress=\"keypressEnter(event);\" style=\"width:200px;\" />"+
                        "<input type=\"button\" id=\""+rooms[roomName].id_datasend+"\" value=\"send\" />"+
                        //"<input type=\"button\" id=\""+rooms[roomName].id_room+"\" onclick=\"clic(event);\" value=\"send\" />"+
                        "</div>";
        chat.innerHTML += chatRoom;
        
        rooms[roomName].roomData = document.querySelector("#"+rooms[roomName].id_data+"");
        rooms[roomName].roomDatasend = document.querySelector("#"+rooms[roomName].id_datasend+"");
        
        Listener for send button
		rooms[roomName].roomDatasend.addEventListener("click", function(evt) {
      		sendMessageToRoom(roomName);
  		});

		// detect if enter key pressed in the input field
  		rooms[roomName].roomData.addEventListener("keypress", function(evt) {
    		// if pressed ENTER, then send
    		if(evt.keyCode == 13) {
				this.blur();
        		sendMessageToRoom(roomName);
    		}
  		});
        
    }
    
    /*function keypressEnter(event) {
        if(event.keyCode == 13) {
            console.log(event);
            this.blur();
            sendMessageToRoom(event.srcElement.id);
        }
    }
    
    function clic(event) {
    console.log(event.srcElement.id);
        sendMessageToRoom(event.srcElement.id);
    }*/
    
    
    function addPlayer(player) {

    if(typeof(teams[player.team]) == "undefined")
    {
        var taille = 0;
        for (o in teams) ++taille;         
        addRoom(player.roomsList["withMaster"]);         
        teams[player.team] = new TeamBB(player.team, listIcones[taille]);
        
    } 
    
    var marker = new google.maps.Marker({
                     position: new google.maps.LatLng(player.lat, player.long),
                     map: map,
                     title:name,
                     icon:teams[player.team].icon

    });
    markersList[player.name] = marker;           
    
}
    
    username = "Game Master";
	var socket = io.connect();
    

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
        //on souscrit à la room master qui permet de gérer les données des joueurs
        socket.emit('subscribe', 'master');
        
        socket.emit('addAdmin', username);
	});

	// listener, whenever the server emits 'updatechat', this updates the chat body 
	socket.on('updatechat', function (username, data) {
		var chatMessage = "<b>" + username + ":</b> " + data + "<br>";
		conversation.innerHTML += chatMessage; 
	});
    
    
    
    socket.on('addRoom', addRoom);
    
    socket.on('message', function (username, data) {
console.log(arguments);
        var chatMessage = "<b>" + username + ":</b> " + data.message + "<br>";
        
        var room = document.querySelector("#"+rooms[data.room].id_room);
        room.innerHTML += chatMessage;
               
        
    });


	
    
    // sends the chat message to the server
    function sendMessageToRoom(roomName) {
        var dataRoom = document.querySelector("#"+rooms[roomName].id_data+"");
        var message = dataRoom.value;
        dataRoom.value = "";
        // tell server to execute 'sendchat' and send along one parameter
        socket.emit('send', { room: roomName, message: message });
    };		

</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCT6bUQrk5rHswL3dgykXVpWtHe2NcFxA8"></script>
<script>
// Default position
var centerpos = new google.maps.LatLng(48.579400,7.7519);
 
// default options for the google map
var optionsGmaps = {
    center:centerpos,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    zoom: 15
};
 
// Init map object
var map = new google.maps.Map(document.getElementById("map"), optionsGmaps);

var markersList = {};
var teams = [];
var listIcones = [
    "http://maps.google.com/mapfiles/ms/micons/campground.png",
    "http://maps.google.com/mapfiles/ms/micons/bar.png",
    "http://maps.google.com/mapfiles/ms/micons/earthquake.png",
    "http://maps.google.com/mapfiles/ms/micons/fallingrocks.png",
    "http://maps.google.com/mapfiles/ms/micons/marina.png"
];


function TeamBB(n, i) {
  var name = n;
  var icon = i;
  
  // ----- API -----
  return {
    name:name,
    icon:icon
  }
}

socket.on('players', function(listOfPlayers) {
		for(var name in listOfPlayers) {
            addPlayer(listOfPlayers[name]); 
  		}
	});

socket.on('newPlayer', function(player){
    addPlayer(player);
});
    
socket.on('updatePlayersPosition', function(data){
    if(typeof(markersList[data.name]) !== "undefined")
    {
        var playersMarker = markersList[data.name];
        var latlng = new google.maps.LatLng(data.lat, data.long);
        playersMarker.setPosition(latlng);
    }
});

// listener, whenever the server emits 'updateusers', this updates the username list
socket.on('updateusers', function(listOfUsers) {
    users.innerHTML = "";
    for(var name in listOfUsers) {
        var userLineOfHTML = '<div>' + name + '</div>';
        users.innerHTML += userLineOfHTML;
    }
});
    
 
if(navigator.geolocation) {
 
    // callback function, called by getCurrentPosition() in case of success
    function drawPosition(position) {
       // Make new object LatLng for Google Maps
       var latlng = new google.maps.LatLng(position.coords.latitude,               
                                           position.coords.longitude);
 
       map.panTo(latlng);
       
    }
 
    // callback function, called by getCurrentPosition() in case of error
    function errorPosition(error) {
       
    }
    navigator.geolocation.getCurrentPosition(drawPosition,errorPosition);
} else {
    alert("Geolocation API not supported by your browser");
}
</script>
</body>